* {
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
div.container {
  position: relative;
  display: inline-block;
}

div.container2 {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

div .parentNyawaPlayer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid white;
}

div .nyawa-player {
  background-color: red;
  height: 30px;
  width: 100%;
}

div .buatNyawaPlayer {
  position: absolute;
  background: #818cf8;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

div .timer {
  background-color: black;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 4px solid white;
}

div .parentNyawaMusuh {
  position: relative;
  width: 100%;
  border-top: 4px solid white;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}

div .nyawa-musuh {
  background-color: red;
  height: 30px;
}

div .buatNyawaMusuh {
  position: absolute;
  background: #818cf8;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

div .hasil {
  position: absolute;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
